body {background-color: Black;}
body {color: red;}
a {color: red;; text-decoration:none}
h1 {font-family:Arial;; font-size: 22px}
.program {background-color: Aqua;; text-align: center}
.tankar {text-align: right}
.mig {border-width: 2px;; border-style: solid;; border-color: Red}